.primary-bg {
    background-color: #3a000ee8;
}

.header-bg {
    background-color: #00000000;
}

.pink-bg {
    background-color: #5a005a96;
}

.grey-bg {
    background-color: #292929;
}

.secondary-bg {
    background-color: #0a001be7;
}
html {
    scroll-behavior: smooth;
  }
@font-face {
    font-family: Poppins;
    src: url(../fonts/poppins.ttf)
}
@font-face
{
    font-family:Anton;
    src: url('../fonts/anton.ttf');
}
#brand
{
    font-family: Anton;
    font-size:600%;
}
* {
    font-family: Poppins;
}

body {
    background-image: url("../images/bg.jpg");
    background-size: 100%;
}
.highlight
{
    background-color: #b99e00c0;
}
.logo {
    width: 200px;
    height: 200px;
}
nav
{
    z-index: 1;
}
nav .nav-item {
    margin-left: 40px;
}

.primary-txt {
    color: #d43333;
}

.secondary-txt {
    color: #ffd900
}

h1, #prices th {
    color: #d43333;
}

h2 {
    color: #c00000;
}

p, #prices td {
    color: #ffd900
}

.jumbotron {
    margin: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

header h1 {
    font-size: 500%;
}

#sypnosis
{
    margin:auto;
    padding:50px;
    width:90%
}
#now-showing .card
{
    margin:30px auto;
}
#sypnosis button
{
    background-color: #5a005a96 ;
    border: none;
    color:#ffd900;
    padding:10px;
    margin:5px;
}
#sypnosis .row
{
    padding-bottom: 30px;
}
#sypnosis .mg-auto
{
    margin:auto
}
#sypnosis .mg-vertical
{
    margin-top: 30px;
    margin-bottom: 30px;
}
#sypnosis iframe
{
    width:100%;
    height:315px;
}
#sypnosis h1
{
    font-size:250%
}
#sypnosis p
{
    font-size: 100%;
}
#plot-description
{
    font-size:50%
}
#about-us .jumbotron {
    margin-bottom: 20px;
}

#about-us>.parallax>.secondary-bg {
    width: 75%;
    margin: auto;
}

#about-us>.parallax>.parallax {
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
}


#prices .jumbotron {
    background-color: rgba(255, 241, 112, 0.479);
    margin-bottom: 10px;
}
section 
{
    min-height: 100vh;
}
section .jumbotron {
    padding: 20px;
    text-align: center;
    margin-top: 20px
}


#prices table {
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 100px;
    background-color: rgba(31, 22, 22, 0.911);
}
#prices
{
    height: 100vh;
}
#prices table th {
    border: black solid 1px;
    padding: 40px;
}

#prices table td {
    border: black solid 1px;
    padding: 20px;
}

#lobby {
    height: 500px;
    background-image: url("../images/lobby.jpg");
}

#seat {
    height: 500px;
    background-image: url("../images/seat.jpg");
}

#dolby {
    height: 500px;
    background-image: url("../images/dolby.jpg");
}

.movie-panel
{
    width:75%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    
}
.movie-poster
{
    width: 250px;
    height: 350px;
    margin:20px
}
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.indent-2
{
    text-indent: 2em;
}
.parallax {  
    /* this class is meant to be overrided only */
    background-image: url("../images/bg1.jpg");
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#about-us>.parallax {
    background-image: url("../images/bg1.jpg");
    padding: 20px;
}
#prices>.parallax {
    background-image: url(../images/bg2.jpg);
    padding: 20px;
}
#now-showing>.parallax
{
    background-image: url('../images/cinema.jpg');
    padding: 20px;
}

section h1 {
    font-size: 400%;
}

section h2 {
    font-size: 150%;
}